.button {
  border: 1px solid rgb(162, 167, 167);
  border-radius: 2px;
  padding: 1px 5px;
  margin-bottom: 5px;
}
.button + .button {
  margin-left: 5px;
}
.button:hover,
.button:focus {
  background-color: rgb(127, 155, 231);
}
